@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    
}


.card{
width: 150px;
height: 150px;
position: relative;
transform-style: preserve-3d;
transition: transform .5s;
}

.card_back, .card_front {
 width: 100%;
 height: 100%;   
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
 box-shadow: 10px 10px 10px rgba(0, 0, 0 , 1);

 position: absolute;
 backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
 
 background: #E9B359; 
 transform: rotateY(180deg);

}
.card_back{
    background: #D5782E;
    font-size: 64px;
    /* display: none; */
    
    }
   
    